<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CopyCapsule</string>
    <key>CFBundleIdentifier</key>
    <string>com.copycapsule.app</string>
    <key>CFBundleName</key>
    <string>CopyCapsule</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/oamkt/CopyCapsule/releases/latest/download/appcast.xml</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
</dict>
</plist>
